{% extends 'base.html' %} {% block title %} Index {% endblock %} {% block content %}
<h1 class="text-4xl py-4">Blogly</h1>
<main class="flex justify-center w-full px-20 pt-10 gap-64">
  <section class="">
    <h2 class="text-2xl">Current Users</h2>
    <ul>
      {% for user in users %}
      <li><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section class="">
    <h2 class="text-2xl">Add a User</h2>
    <form action="/users" method="post" class="flex flex-col gap-2">
      <div class="flex items-center justify-between gap-2">
        <label for="first-name">First Name</label>
        <input class="border-2 border-indigo-300" type="text" name="first_name" id="first-name" />
      </div>
      <div class="flex items-center justify-between gap-2">
        <label for="first-name">Last Name</label>
        <input class="border-2 border-indigo-300" type="text" name="last_name" id="last-name" />
      </div>
      <div class="flex items-center justify-between gap-2">
        <label for="image-url">Image URL</label>
        <input class="border-2 border-indigo-300" type="text" name="image_url" id="image-url" />
      </div>
      <button class="bg-green-300 px-3 py-1 rounded-sm">Submit</button>
    </form>
  </section>
</main>

{% endblock %}
